<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>io.github.leehyowon14.klap.calendar</string>
    <key>CFBundleName</key>
    <string>KLAP CalendarBridge</string>
    <key>CFBundleExecutable</key>
    <string>CalendarBridge</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSCalendarsUsageDescription</key>
    <string>KLAP 학사일정과 시간표를 Calendar에 동기화합니다.</string>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>KLAP 학사일정과 시간표를 Calendar에 동기화합니다.</string>
</dict>
</plist>
